* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pencet {
    height: 60%;
    width: 80%;
    background-color: #3a9;
    color: white;
}

#main {
    display: none;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}